<nb-layout>
  <nb-layout-column>
    <nb-chat title="CofradeGPT" size="medium" status="primary">
      <!-- Mensaje del usuario -->
      <nb-chat-message
        message="Hola, ¿en qué puedo ayudarte?"
        type="text"
        status="primary"
        sender="Soporte"
        >
      </nb-chat-message>

      <!-- Mensaje del administrador -->
      <nb-chat-message
        message="Claro, necesito más detalles sobre tu problema."
        type="text"
        status="success"
        sender="Usuario"
        >
      </nb-chat-message>

      <!-- Input para enviar mensajes -->
      <nb-chat-form>
      </nb-chat-form>
    </nb-chat>
  </nb-layout-column>
</nb-layout>